* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: #092D1C; }

#app {
  width: 100%;
  height: 100%; }

a.button {
  text-decoration: none;
  font-size: .9em;
  border: #377557 0.15em solid;
  background: none;
  padding: 1em 1.25em;
  border-radius: 1.75em;
  margin-left: 1em;
  color: #eee;
  transition: border-color 0.2s ease, background 0.2s ease; }
  a.button:hover, a.button:focus {
    background: #20513a;
    border-color: #86ae9b;
    cursor: pointer; }
  a.button:active {
    background: #86ae9b;
    border-color: #092D1C;
    cursor: pointer;
    color: #092D1C; }

nav {
  background-color: #D4E7DE;
  position: fixed;
  top: 0;
  height: 3.5em;
  width: 100vw;
  z-index: 1000;
  color: #333;
  box-shadow: 0px 0.5em 0.5em -0.5em #2d2909; }
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: auto;
    height: 3.5em; }
  nav li {
    display: block; }
    nav li a {
      display: block;
      padding: 1.5em 0 0;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #2D2909;
      font-weight: bold;
      position: relative; }
      nav li a span {
        display: block;
        margin: 0 2em; }
      nav li a .underline {
        width: 100%;
        height: .2em;
        border-radius: .1em;
        margin-top: .5em;
        transition: opacity .5s ease-in-out;
        opacity: 0;
        position: absolute;
        bottom: 0;
        background: linear-gradient(90deg, rgba(55, 117, 87, 0.6) 0%, rgba(45, 41, 9, 0.8) 33%, rgba(45, 41, 9, 0.9) 50%, rgba(45, 41, 9, 0.8) 66%, rgba(55, 117, 87, 0.6) 100%); }
      nav li a.active .underline {
        opacity: 1; }
  nav .container {
    max-width: 1500px;
    margin: auto; }

footer {
  width: 100%;
  background: #377557;
  color: #eee;
  padding: 3em;
  border-top: #D4E7DE solid 0.1em; }
  footer h3 {
    margin: 0; }
  footer .social ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; }
  footer .social img {
    width: 3em;
    padding-right: 1em; }

h2 {
  letter-spacing: .075em;
  color: #eee; }

h3 {
  letter-spacing: .05em;
  color: #eee; }

#main-cont {
  width: 100%;
  max-width: 1500px;
  margin: 3.5em auto 0;
  background: #092D1C;
  margin-top: 3.5em; }
  #main-cont h2 {
    margin: 0; }

#hero {
  background: linear-gradient(rgba(9, 45, 28, 0.5) 0%, rgba(9, 45, 28, 0.5) 60%, #092d1c 100%);
  position: relative;
  z-index: 5;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  perspective-origin-x: 100%; }
  #hero .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin-x: 100%; }
  #hero .background {
    background: url("../img/jay2.png") center;
    background-size: cover;
    transform: translateZ(-300px) scale(2);
    z-index: 3; }
  #hero .text {
    padding: 15em 0;
    color: #eee;
    font-size: 1em;
    transform: translateZ(0);
    z-index: 4; }
  #hero .text-inner {
    display: table;
    background: radial-gradient(ellipse, rgba(9, 45, 28, 0.75) 0%, rgba(9, 45, 28, 0.1) 95%);
    margin: 0 auto;
    overflow: visible; }
  #hero h1 {
    margin-bottom: .2em;
    letter-spacing: .1em;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 3em; }

#hero + .arrow-trans {
  margin-top: -7.5em;
  z-index: 5; }

section {
  border-top: #D4E7DE solid 0.1em; }
  section .content {
    width: 100%;
    border-bottom: #D4E7DE solid 0.1em; }
  section#presentations .content {
    position: relative;
    background: linear-gradient(90deg, #092D1C 2%, #377557, #092D1C 98%);
    padding-bottom: 2em; }
  section#presentations .presentation {
    transition: opacity 5s ease-in-out;
    width: 75%;
    margin: auto;
    display: none;
    opacity: 0; }
    section#presentations .presentation.active {
      display: block;
      opacity: 1; }
    section#presentations .presentation h3 {
      margin-top: calc(1em + 20px); }
  section#presentations .frame-container {
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
    position: relative; }
    section#presentations .frame-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  section h2 {
    padding: 1em;
    background: #377557; }
  section .flex-design {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    section .flex-design .design {
      flex-basis: 33%;
      padding: 2em; }
      section .flex-design .design img {
        max-width: 100%;
        border: 0.1em #eee solid; }

.slide-arrow {
  position: absolute;
  width: 4%;
  margin-top: 17.09375%;
  top: 0;
  cursor: pointer; }
  .slide-arrow.left-arrow {
    left: 4%; }
  .slide-arrow.right-arrow {
    right: 4%; }

.project {
  background-size: cover;
  display: flex;
  width: 100%; }
  .project:nth-child(odd) {
    background: rgba(55, 117, 87, 0.15); }

.blocker {
  color: #eee;
  flex-basis: 70%;
  min-height: 15em; }
  .blocker h3 {
    padding: 1em;
    margin: 0; }
  .blocker p {
    padding: 1em;
    margin: 0; }

.picture-frame {
  flex-basis: 30%;
  background-size: cover;
  background-position: center 0; }

.arrow-trans {
  width: 100%;
  height: 400px;
  background: url(../img/arrowLight.svg) no-repeat center;
  margin: -2px 0; }

#pres-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  margin-top: calc(42.1875% + .5em); }
  #pres-dots .dot {
    background: url(../img/circleDonut.svg);
    background-size: cover;
    height: 20px;
    width: 20px; }
    #pres-dots .dot.current {
      background: url(../img/circleFill.svg);
      background-size: cover; }

@media screen and (min-width: 1501px) {
  nav {
    height: 100%;
    width: 20%;
    padding: 1.5em; }
    nav ul {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: flex-end;
      padding: 0; }
      nav ul li {
        width: 75%;
        border-radius: 2px; }
        nav ul li a {
          padding: 3em 0 .5em; }
          nav ul li a span {
            display: block;
            margin: 0;
            text-align: right; }
          nav ul li a .underline {
            background: linear-gradient(90deg, rgba(55, 117, 87, 0.4) 0%, rgba(45, 41, 9, 0.9) 100%); }
  #main-cont {
    margin-left: 20%;
    width: 80%;
    margin-top: 0; } }

@media screen and (min-width: 1876px) {
  nav {
    width: calc(100% - 1500px); }
  #main-cont {
    margin-left: calc(100% - 1500px); } }
