* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rambla', sans-serif;
}

#hor-flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#sidebar {
  background: green;
  flex-basis: 15%;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: auto;
}

#sidebar li {
  text-align: center;
}

#right-cont {
  width: 100%;
  flex-basis: 70%;
}

nav {
  background-color: darkcyan;
  font-family: 'Asul', sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}

nav li {
  display: block;
  padding: .5rem;
}

/*#degender {
  background: url(../img/degenderSlide.png);
  background-size: cover;
}*/

.project {
  background-size: cover;
}

.blocker {
  background: #333;
  color: #eee;
  padding: 1rem;
}

.picture-frame {
  height: 200px;
}