$backDark: #333;
$backMed: #777;
$backLight: #eee;
$sidebarWidth: 15%;
$mainWidth: 70%;
$navHeight: 3.5em;


* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rambla', sans-serif;
  background: $backDark;
}

// #sidebar {
//   background: $backLight;
//   flex-basis: $sidebarWidth;
//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     width: $sidebarWidth;
//     //height: calc(100vh - 3em);
//     position: fixed;
//     left: 0;
//     top: calc((100vh - 3em)/2);
//   }
//   li {
//     text-align: center;
//     padding: 1rem 0;
//   }
// }

nav {
  background-color: $backLight;
  font-family: 'Asul', sans-serif;
  position: fixed;
  top: 0;
  height: $navHeight;
  width: 100vw;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: auto;
    width: 60%;
  }
  li {
    display: block;
    padding: .5rem;
  }
}

#main-cont {
  width: 100%;
  background: $backMed;
  margin-top: $navHeight;
  padding: 1em;
  h2 {
    margin: 0;
  }
}



/*#degender {
  background: url(../img/degenderSlide.png);
  background-size: cover;
}*/

.project {
  background-size: cover;
}

.blocker {
  background: #333;
  color: #eee;
  padding: 1rem;
}

.picture-frame {
  height: 200px;
}