$backDark: #333;
$backMed: #777;
$backLight: #eee;
$foreLight: #eee;
$sidebarWidth: 15%;
$mainWidth: 70%;
$navHeight: 3.5em;
$pageWidth: 1500px;
$baseFont: "Source Sans Pro", sans-serif;


* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $baseFont;
  background: $backDark;
}

// #sidebar {
//   background: $backLight;
//   flex-basis: $sidebarWidth;
//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     width: $sidebarWidth;
//     //height: calc(100vh - 3em);
//     position: fixed;
//     left: 0;
//     top: calc((100vh - 3em)/2);
//   }
//   li {
//     text-align: center;
//     padding: 1rem 0;
//   }
// }

nav {
  background-color: $backLight;
  position: fixed;
  top: 0;
  height: $navHeight;
  width: 100vw;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: auto;
    width: 60%;
  }
  li {
    display: block;
    padding: .5rem;
  }
  .container {
    max-width: $pageWidth;
    margin: auto;
  }
}

footer {
  width: 100%;
  background: $backDark;
  color: $foreLight;
  padding: 3em;
  h3 {
    margin: 0;
  }
  .social {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
    }
    img {
      width: 3em;
      padding-right: 1em;
    }
  }
}

#hero {
  padding: 15em 0;
  h1 {
    text-align: center;
    margin-bottom: .2em;
    letter-spacing: .1em;
    font-weight: 600;
    .lower-caps {
      font-size: 75%;
    }
  }
  .tagline{
    text-align: center;
    margin: 0;
  }
}

#main-cont {
  width: 100%;
  max-width: $pageWidth;
  margin: auto;
  background: $backMed;
  margin-top: $navHeight;
  //padding: 1em;
  h2 {
    margin: 0;
  }
}

.project {
  background-size: cover;
}

.blocker {
  background: #333;
  color: #eee;
  padding: 1rem;
}

.picture-frame {
  height: 200px;
}

.arrow-trans {
  width: 100%;
  height: 400px;
  background: url(../img/arrow.svg) no-repeat center;
}