$oneDark: #092D1C;
$oneMed: #377557;
$oneLight: #D4E7DE;
$twoDark: #2D2909;
$twoLight: #D8D2AA;
$whitish: #eee;
$blackish: #333;
$sidebarWidth: 15%;
$mainWidth: 70%;
$navHeight: 3.5em;
$pageWidth: 1500px;
$baseFont: "Source Sans Pro", sans-serif;
$heroImage:'../img/jay2.png';


* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $baseFont;
  background: $oneDark;
}

nav {
  background-color: $oneLight;
  position: fixed;
  top: 0;
  height: $navHeight;
  width: 100vw;
  z-index: 1000;
  color: $blackish;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: auto;
  }
  li {
    display: block;
    padding: 2em .5em .5em;
  }
  .container {
    max-width: $pageWidth;
    margin: auto;
  }
}

footer {
  width: 100%;
  background: $oneMed;
  color: $whitish;
  padding: 3em;
  h3 {
    margin: 0;
  }
  .social {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
    }
    img {
      width: 3em;
      padding-right: 1em;
    }
  }
}

h2 {
  letter-spacing: .075em;
  color: $whitish;
}

h3 {
  letter-spacing: .05em;
  color: $whitish;
}

#main-cont {
  width: 100%;
  max-width: $pageWidth;
  margin: $navHeight auto 0;
  background: $oneDark;
  margin-top: $navHeight;
  //padding: 1em;
  h2 {
    margin: 0;
  }
}

#hero {
  padding: 15em 0;
  background: linear-gradient(rgba(9,45,28,.5) 0%,rgba(9,45,28,.5) 60%, rgba(9,45,28,1) 100%), url($heroImage) center;
  //filter: grayscale(60%);
  background-size: cover;
  .text {
    color: $whitish;
    font-size: 1em;
  }
  .text-inner {
    display: table;
    background: radial-gradient( ellipse, rgba(9,45,28,.75) 0%, rgba(9,45,28,.1) 95%);
    margin: 0 auto;
    overflow: visible;
  }
  h1 {
    margin-bottom: .2em;
    letter-spacing: .1em;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2em;
  }
}

#hero + .arrow-trans {
  margin-top: -7.5em;
  border-top: none;
}

.project {
  background-size: cover;
}

.blocker {
  background: $oneMed;
  color: #eee;
  padding: 1rem;
}

.picture-frame {
  height: 200px;
}

.arrow-trans {
  width: 100%;
  height: 400px;
  background: url(../img/arrowLight.svg) no-repeat center;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}